template/deploy/input/launches
eureka-platform.json
install.json
install-extras.json
location
npm.json
okapi-install.json
results.txt
template/deploy/output
work
workspace/node_modules
workspace/yarn.lock
